@import reset
@import grid
@import monochrome
@import mixins
@import forms

/*----------------------------------------------------------------------

body
  font: 13px/1.6 $serif
  color: #333
  background: #fff

$link: #06c

a
  color: $link
  text-decoration: none
  &:hover, &:focus
    border-bottom: 1px solid #06c
  &:visited
    color: #60c
    &:hover
      border-bottom-color: #60c

/*----------------------------------------------------------------------

header
  .head
    @extend .cnt
    height: 100px
    border-bottom: 1px solid #ddd

    a.logo
      +col($s6)
      display: block
      margin: 25px 0
      color: #333

      &:hover
        border: none

      img
        height: 50px
        width: 50px
        float: left
        margin-right: 10px

      h1
        font: 30px/50px $serif
        text-transform: uppercase

    form
      +flush($s6)
      display: block
      margin: 38px 0 0
      input.field
        margin-left: 24px
        width: $s4
      input.submit

  nav
    @extend .cnt

    &.top
      font: 13px/30px $sans

      ul.main
        +col($s6)
        opacity: 0
        +transition

        li
          float: left
          h5
            font-weight: normal
            margin-right: 21px
            color: #333
            cursor: pointer
          ul
            display: none

      &:hover ul.main
        opacity: 1

      ul.user
        +col($s6)
        li
          float: right
          a
            margin-left: 21px

    &.main
      border-bottom: 1px solid #ddd
      ul
        +col
        li
          float: left
          a
            margin-right: 21px
            font: 13px/30px $serif
            color: #333
            text-transform: uppercase

            &:hover
              color: $link

    &.page
      font: 14px/30px $sans
      border-bottom: 3px solid #ddd
      margin-bottom: 2px

      &:hover 
        a
          color: $link

        li.active a
          color: #999
          &:hover
            border: none

      a
        color: transparent
        +transition

      ul.main
        +col($s6)
        li
          float: left
          a
            margin-right: 21px

      ul.side
        +col($s6)
        li
          float: right
          a
            margin-left: 21px

/*----------------------------------------------------------------------

#content
  @extend .cnt
  width: $s12 - 1px
  padding: 0 0 80px
  margin-bottom: 2px
  border: 1px solid #ddd
  border-bottom: 3px solid #ddd
  border-left: none

  ul
    li
      padding: 0 0 8px

  .column
    border-right: 1px solid #ddd

    h2
      font-weight: bold
      text-transform: uppercase
      letter-spacing: 2px
      padding: 1.5em 0 10px
    
    &.main
      +col($s6)
      width: $s6 - $gutter - 1px

      h2
        padding-right: 42px

      h3
        font: bold 60px/1 $serif
        padding: 0 42px 10px 0
        margin: -5px 0 0
        letter-spacing: -3px
        a
          color: #333
          +transition
          &:hover
            color: $link
            border: none

      p, ul
        padding: 0 42px 1.5em 0
      
      a img
        float: left
        margin: 4px 12px 0 0


      #featured
        a img
          width: 150px * .95
          height: 200px * .95

      #did-you-know
      #potd
        a img
          width: 160px
          height: 240px

    &.side
      +col($s3)
      width: $s3 - $gutter - 1px

      h2
        padding: 24px 18px 10px
        border-top: 1px solid #ddd

      p, ul
        padding: 0 18px 1.5em

      &.two
        border: none
        ul li
          padding: 0

      a img
        float: right
        margin: 0 30px 12px 20px
        display: none

      section
        border-bottom: 3px solid #ddd
        margin: 0 0 2px

        &:last-of-type
          border: none

        &#in-the-news
          h2
            border: none

        &#other-areas
          margin-top: 1.5em

        &#lang

        &#sister-projects
          img
            display: none

    ul.hidden
      opacity: 0
      +transition
      font: 12px/1.5 $sans !important
      color: #777
      li
        padding: 0

    section:hover .hidden
      opacity: 1

footer
  @extend .cnt
  border-top: 1px solid #ddd
  padding: 30px 0 50px
  font: 12px/1.4 $serif

  p
    +col($s3)
    width: $s3 - 2 * $gutter
    margin-right: $gutter

  ul
    +flush($s6)

    li
      +col($s3)
      width: $s3 - $gutter - 18px
      margin-left: 18px
